body{
	min-height: 100vh;
	background-color: #000;
	background-image: url("../images/Fermi_paradox_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	color: #fff;
}

h1 {
  text-align: center;   /* midden op de pagina */
  margin-top: 40px;     /* ruimte onder de navbalk */
}

