body{
  min-height: 100vh;
  background-color: #000;
  background-image: url("https://rare-gallery.com/uploads/posts/4514961-spitzer-space-telescope-space-galaxy-nasa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
