html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #000;
  background-image: url("../images/what-is-space-milky-way-full-width.jpg.thumb.1920.1920.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

h2{
    font-size: 40px;
}
