body {
  background-image:url("../images/what-is-space-milky-way-full-width.jpg.thumb.1920.1920.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 100vh;
background-color: #000;
}

h2{
    font-size: 40px;
}

.title{
    text-align: center;
    font-size: 40px;
    color: white;
}

.content{
    margin: 5vw;
    color: white;
}