body {
  background-image:url("../images/replacment greatfilter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 100vh;
background-color: #000;
}

h2{
    font-size: 40px;
}